<div class="list-wrapper">
  <mat-card class="example-card list">

    <mat-card-header>
      <mat-card-content *ngIf="!isInlineEdit" (click) = inlineEdit()>{{list['name']}}</mat-card-content>
      <mat-form-field *ngIf="isInlineEdit" class="example-full-width" class="edit-field">
        <textarea matInput autofocus #editData value = "{{list['name']}}"
                  (keydown.enter)="editList(list.id, editData)"
                  (blur)="editList(list.id, editData)"
        >
        </textarea>
      </mat-form-field>
      <mat-icon class="delete-list-icon" (click)="openDialog(list)">delete</mat-icon>
    </mat-card-header>

    <!--list of tasks-->
    <!--Workaround: add ids to cdkDropListConnectedTo-->
    <mat-list id = "{{list.id}}" cdkDropList [cdkDropListData]="list" role="list"
              [cdkDropListConnectedTo]="ids" (cdkDropListDropped)="drop($event)">
      <div *ngFor="let task of  (tasks$|async) | tasksFilter:list"  [cdkDragData]="task" cdkDrag class="drag-task">
        <app-task [task]="task"></app-task>
      </div>
    </mat-list>
    <mat-card-content *ngIf="!isInlineAddTask" class="add-task-title" (click) = inlineAddTask()>
      +Add new task
    </mat-card-content>

    <!--Add task field-->
    <div class="task-form" *ngIf="isInlineAddTask" >
      <mat-form-field >
        <textarea matInput placeholder = "Enter short name of task" #taskName></textarea>
      </mat-form-field>
      <button mat-raised-button color="primary" class="add-task-btn" (click) ="addTask(list.id, taskName)">Add Task</button>
      <button mat-button (click) = "inlineAddTask()">X</button>
    </div>
  </mat-card>
</div>



